@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --bs-primary: #3b82f6;
  --bs-primary-dark: #2563eb;
  --bs-secondary: #10b981;
  --bs-secondary-dark: #059669;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: calc(100vh - 136px); /* Altura da tela menos altura do navbar e footer */
}

/* Estilos personalizados para botões */
.btn-primary {
  background-color: var(--bs-primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--bs-primary-dark);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: var(--bs-secondary-dark);
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}